.idea/.idea.API.FPL.NET/*
.idea/*

obj/*
bin/*
API.FPL.NET.sln.DotSettings.user
.vs/*
.vs/API.FPL.NET/v16/Server/sqlite3/storage.ide-shm
.vs/API.FPL.NET/v16/Server/sqlite3/storage.ide
.vs/API.FPL.NET/v16/Server/sqlite3/db.lock
.vs/API.FPL.NET/v16/.suo
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide-wal
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide-shm
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide
.vs/API.FPL.NET/v15/Server/sqlite3/db.lock
.vs/API.FPL.NET/v15/.suo
.vs/API.FPL.NET/DesignTimeBuild/.dtbcache
.idea/.idea.API.FPL.NET/riderModule.iml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/workspace.xml
FPL.NET/bin/Debug/netcoreapp3.1/FPL.NET.dll
FPL.NET/bin/Debug/netcoreapp3.1/FPL.NET.pdb
FPL.NET/obj/FPL.NET.csproj.nuget.dgspec.json
FPL.NET/obj/FPL.NET.csproj.nuget.g.props
FPL.NET/obj/FPL.NET.csproj.nuget.g.targets
FPL.NET/obj/project.assets.json
FPL.NET/obj/project.nuget.cache
FPL.NET/obj/project.packagespec.json
FPL.NET/obj/rider.project.restore.info
FPL.NET/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.AssemblyInfo.cs
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.AssemblyInfoInputs.cache
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.assets.cache
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.csproj.CoreCompileInputs.cache
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.csproj.FileListAbsolute.txt
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.csprojAssemblyReference.cache
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.dll
FPL.NET/obj/Debug/netcoreapp3.1/FPL.NET.pdb
.idea/.idea.API.FPL.NET/riderModule.iml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/workspace.xml
