.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/projectSettingsUpdater.xml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/vcs.xml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/workspace.xml
.idea/.idea.API.FPL.NET/riderModule.iml
.idea/*

obj/*
bin/*
API.FPL.NET/API.FPL.NET.csproj
API.FPL.NET.sln.DotSettings.user
.vs/API.FPL.NET/v16/Server/sqlite3/storage.ide-wal
.vs/API.FPL.NET/v16/Server/sqlite3/storage.ide-shm
.vs/API.FPL.NET/v16/Server/sqlite3/storage.ide
.vs/API.FPL.NET/v16/Server/sqlite3/db.lock
.vs/API.FPL.NET/v16/.suo
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide-wal
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide-shm
.vs/API.FPL.NET/v15/Server/sqlite3/storage.ide
.vs/API.FPL.NET/v15/Server/sqlite3/db.lock
.vs/API.FPL.NET/v15/.suo
.vs/API.FPL.NET/DesignTimeBuild/.dtbcache
