.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/projectSettingsUpdater.xml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/vcs.xml
.idea/.idea.API.FPL.NET/.idea/contentModel.xml
.idea/.idea.API.FPL.NET/.idea/workspace.xml
.idea/.idea.API.FPL.NET/riderModule.iml
.idea/*

obj/*
bin/*
